/* layout.scss */
* {
  box-sizing: border-box; }

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* ba-grid */
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align-last: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

/* style.scss */
body {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.125em;
  line-height: normal;
  color: #ededed;
  text-align: center;
  padding: 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 800; }

.ba-banner {
  height: 100vh; }

/* ba-hero */
.ba-hero {
  height: calc(100vh - 85px);
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-color: #000;
  padding: 9vh 0 7.5vh;
  color: #ededed; }
  .ba-hero__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .ba-hero__middle {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .ba-hero__title {
    padding-top: 120px;
    font-size: 3em; }
  .ba-hero__text {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 0; }
  .ba-hero__bottom {
    text-align: center; }
  .ba-hero__scroll {
    display: inline-block;
    height: 14px;
    width: 8px;
    background-image: url(../img/scroll.svg);
    background-size: contain;
    background-repeat: no-repeat; }

.ba-subscribe {
  background-color: #fff;
  padding: 3px; }

.ba-subscribe-form {
  display: flex; }

.ba-input {
  width: 650px;
  height: 60px;
  border: 1pz solid #c1c1c1;
  border: none;
  flex-grow: 1;
  text-align: center; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c1c1c1;
  text-transform: uppercase; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #c1c1c1;
  text-transform: uppercase; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #c1c1c1;
  text-transform: uppercase; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #c1c1c1;
  text-transform: uppercase; }

.ba-btn {
  display: inline-block;
  min-width: 150px;
  height: 60px;
  line-height: 60px;
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0 2em;
  transition: 0.4s;
  background-color: #5474fd;
  color: #fff; }

.ba-btn:hover {
  opacity: 0.8; }

.ba-logo {
  font-size: 1.875em;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase; }

/* ba-header */
.ba-header {
  background-color: #5474fd; }

.ba-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px; }

.ba-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none; }

.ba-menu__item {
  padding: 0 1em;
  text-transform: uppercase; }

.ba-menu__link {
  color: #ffffff;
  text-decoration: none; }

/* ba-choose */
.ba-choose {
  height: 100%;
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  background-color: #423e41;
  color: #fff;
  text-align: left;
  padding-top: 120px; }
  .ba-choose__info {
    padding-top: 80px; }
  .ba-choose__thumb:nth-child(1) {
    padding-left: 65px; }
  .ba-choose__thumb:nth-child(2) {
    padding-left: 190px;
    padding-bottom: 120px; }
  .ba-choose__img {
    max-width: 100%; }

.ba-btn-choose {
  display: inline-block;
  min-width: 150px;
  height: 60px;
  line-height: 60px;
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0 2em;
  margin-top: 50px;
  transition: 0.4s;
  background-color: #5474fd;
  color: #fff; }

.ba-btn-choose:hover {
  opacity: 0.8; }

/* ba-work */
.ba-work {
  height: 100%;
  background-color: #333;
  color: #fff;
  text-align: cewnter; }
  .ba-work__info {
    padding-bottom: 115px; }
  .ba-work__thumb {
    padding-top: 100px; }
  .ba-work__img {
    height: 60px;
    width: 60px;
    max-width: 100%; }

/* ba-home */
.ba-home {
  height: 100%;
  background-image: url(../img/bg3.jpg);
  background-size: cover;
  background-color: #423e41;
  color: #fff;
  text-align: left; }
  .ba-home__info {
    padding-left: 30px;
    padding-top: 45px;
    background-color: rgba(48, 44, 42, 0.9);
    margin-top: 230px;
    margin-bottom: 100px; }

.ba-btn-home {
  display: inline-block;
  min-width: 150px;
  height: 60px;
  line-height: 60px;
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0 2em;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: 0.4s;
  background-color: #5474fd;
  color: #fff; }

.ba-btn-home:hover {
  opacity: 0.8; }

/* ba-sea */
.ba-sea {
  height: 100%;
  background-image: url(../img/bg4.jpg);
  background-size: cover;
  background-color: #423e41;
  color: #fff;
  text-align: left; }
  .ba-sea__info {
    padding-left: 30px;
    padding-top: 45px;
    background-color: rgba(48, 44, 42, 0.9);
    margin-top: 230px;
    margin-bottom: 100px; }

.ba-btn-sea {
  display: inline-block;
  min-width: 150px;
  height: 60px;
  line-height: 60px;
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0 2em;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: 0.4s;
  background-color: #5474fd;
  color: #fff; }

.ba-btn-sea:hover {
  opacity: 0.8; }

/* ba-tourist */
.ba-tourist {
  height: 100%;
  background-image: url(../img/bg5.jpg);
  background-size: cover;
  background-color: #423e41;
  color: #fff;
  text-align: center; }
  .ba-tourist__title {
    margin-top: 0; }
  .ba-tourist__thumb {
    height: 100%;
    width: 100%; }
